body{
    font-family: sans-serif;
}
.nitroMainImg{
    display: none;
}
.nitroVideoSec{
    width: 100%;
    height: 90%;
    overflow: hidden;
    z-index: -1;
    position: absolute;
    padding: 0%;
    margin: 0%;
}
.back-video{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.nitroPostMain{
    padding: 10vw;
}
.nitroHead{
    display: flex;
    flex-wrap: wrap;
}
.perksShowImg{
    width: 30vw;
    height: 30vh;
}
.nitroHeadSec{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2%;
    color: white;
}
.nitroHeadSecFirst{
    font-size: 4rem;
    font-weight: 900;
    width: 30%;
    line-height: 80%;
    margin-top: 3%;
    margin-bottom: 2%;
}
.nitroHeadSecSecond{
    font-size: 1.4rem;
    width: 40%;
}
.nitroHeadSection{
    display: flex;
    justify-content: center;
    margin-top: 6%;
}
.nitroHeadSecond{
    line-height: 180%;
    font-size: 1.2rem;
    height: 48vh;
    width: 40vw;
    margin: 1%;
    border-radius: 10px;
    padding: 3%;
    color: white;
}
#nitro-head-left{
  background-image: linear-gradient(to bottom right, rgb(93, 83, 231), rgb(59, 113, 207));
  position: relative;
}
#nitro-head-right{
    background-image: linear-gradient(to bottom right, rgb(147, 53, 162), rgb(193, 28, 188));
    position: relative;
}
.nitroHeadSecondMain{
    font-size: 1.8rem;
    font-weight: 900;
}
.nitroHeadSecondBtn{
    width: 88%;
    height: 12%;
    font-size: 110%;
    border-radius: 50px;
    border: none;
    position: absolute;
    bottom: 5%;
}
.nitroPerks{
    margin-top: 10%;
    text-align: center;
}
.nitroPerksHeading{
   margin: 5%;
   font-size: 3rem;
   color: rgb(33, 32, 32);
   font-weight: bolder;
}
.nitroPerksShow{
    display: flex;
    flex-wrap: wrap;
}
.nitroPerksShowSec{
    box-sizing: border-box;
    width: 48%;
    margin: 1%;
    padding: 3%;
    border-radius: 10px;
    background-color: rgb(238, 233, 233);
    text-align: center;
}
.nitroPerksShowPara{
    font-size: 1.3rem;
    font-weight: 700;
    margin: 10%;
}
.nitroPerksHide{
    height: 0px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}
.nitroPerksHideSec{
    width: 31%;
    margin: 1%;
    border-radius: 10px;
    background-color: rgb(238, 233, 233);
    text-align: center;
}
.nitroBadgeImg{
    margin-top: 10%;
    width: 60%;
    height: 50%;
}
.nitroBadgeImgOne{
    margin-top: 1%;
    width: 40%;
    height: 20%; 
}
.nitroPerksHideParaBold{
    font-weight: bold;
}
.nitroPerksHideParalight{
    text-align: center;
    margin: 5%;
}
.perksShowBtn{
    background-color: rgb(31, 30, 30);
    color: white;
    width: 17%;
    height: 50px;
    border-radius: 50px;
    font-size: 1rem;
    border: none;
    margin-bottom: 2%;
}

/* =================================================================== */
/* .nitroTable table tr .nitroTableBtnTd {
    border-bottom: 5px solid rgb(171, 17, 137);
}  */
.nitroTable{
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    padding: 2%;
    border-radius: 20px;
    background-color: rgb(238, 233, 233);
    position: relative;
}

.nitroTableHeading{
    font-size: 3rem;
    margin: 5% 0% 3% 24%;
    font-weight: 700;
    width: 55%;
    color: black;
}
table{
    width: 100%;
    height: 80%;
    margin-top: 3%;
    margin-bottom: 1%; 
    
}
.tablePara{
    position: absolute;
    right: 9%;
    top: 17%;
    font-size: medium;
    border: 1px solid rgb(171, 17, 137);
    background-color: rgb(171, 17, 137);
    color: white;
    border-radius: 5px;
    padding: 3px;
    z-index: 1;
}
td,th{
    border-bottom: 1px solid rgb(193, 193, 193); 
    
}
.nitroTabletd{ 
    font-size: large;
    display: flex;
    justify-content: left;
    margin-top: 3%;
    padding-bottom: 3%; 
}
.nitroTableThOne{
    font-size: 1.2rem;
    font-weight: 900;
    display: flex;
    justify-content: left;
    text-align: center;
    margin-top: 3%;
    padding-bottom: 3%; 
}
.nitroTabledark{
    font-size: 2rem;
    margin-top: 1%;
}
.nitroTableLight{
    color: gray;
    font-size: 2.5rem;
    margin-top: 1%;
}
.nitroTabledarkWord{
    font-size: 1rem;
    font-weight: 800;
}
.nitroTableThTwo{
    font-size: 1.8rem;
    line-height: 50%;
}
.nitroTableThTwoSpan{
    font-size: 1rem;
}
.nitroTableBtn{
    margin-top: 7%;
    margin-bottom: 7%;
    border-radius: 50px;
}
#nitro-table-btn-two{
    padding: 4%;
    width: 80%;
    background-color: rgb(91, 91, 219);
    color: white;
    border: none;
}
#nitro-table-btn-one{
    padding: 5%;
    width: 95%;
    background-color: rgb(91, 91, 219);
    color: white;
    border: none;
}
.nitroTableLast, #nitro-table-btn-td-two, #nitro-table-th-three{
    border-left: 2px solid rgb(171, 17, 137);
    border-right: 2px solid rgb(171, 17, 137);
    
}
#nitro-table-th-three{
    border-top: 2px solid rgb(171, 17, 137);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-collapse: collapse;
}
#nitro-table-btn-td-two{
    border-bottom: 2px solid rgb(171, 17, 137);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px;
}
#nitro-questionare-heading{
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 4%;
}
.nitroQuestionareList{
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 19%;
    margin-bottom: 4%;
}
#nitro-questionare-list-item-one a, #nitro-questionare-list-item-two a, #nitro-questionare-list-item-four a{
    text-decoration: none;
    color: gray;
}
#nitro-questionare-list-item-three a{
text-decoration-color: rgb(105, 105, 186);
color: rgb(105, 105, 186);
}
.nitroQueAns{
    width: 95%;
    background-color: rgb(238, 233, 233);
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
    margin: 1%;
    border-radius: 10px;
}
.nitroQue{
    font-size: 1.3rem;
    margin-bottom: 1%;
    font-weight: 700;
}
.nitroQue::after{
    content: "+";
    position: absolute;
    right: 180px;
}
.nitroAns{
    height: 0px;
    overflow: hidden;
}
.nitroBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-image: linear-gradient(to right, rgb(68, 7, 181),rgb(188, 10, 223));
}
.nitroBottomPara{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 4%;
}
.nitroBottomHeading{
    width: 80%;
    font-size: 5vw;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-bottom: 6%;
}
.nitroBottomBtn{
    width: 8vw;
    padding: 1.8%;
    text-align: center;
    border-radius: 50px;
    border: none;
    font-size: 1vw;
    margin-bottom: 8%;
}
.nitroHideTable{
    display: none;
}

@media screen and (max-width: 990px){
    .nitroBottomLeft, .nitroBottomRight, .nitroTableBtn, .tablePara{
    display: none;
    }
    .nitroTableThOne{
        color: rgb(238, 233, 233);
    }
    .nitroTabledarkWord{
        font-weight: 400;
    }
    .nitroBottom{
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .nitroPerks, .nitroPerksShow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nitroPerks{
        margin-top: 2%;
    }
    .nitroPerksHeading{
        font-size: 2rem;
    }
    .nitroPerks, .nitroPerksShowSec{
        width: 100%;
    }
    .nitroPerksShowSec{
        box-sizing: content-box;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-left: 5%;
        padding-right: 10%; */
    }
    .nitroPostMain{
        padding: 0vw;
    }
    .nitroHideNitro{
        display: none;
    }
    .nitroTableThTwo{
        font-size: 1rem;
    }
    .nitroPerksShowPara{
       width: 60%;
    }
    .perksShowImg{
    width: 50vw;
    height: 40vh;
    }
    .nitroHideTable{
        display: flex;
        flex-direction: column;
        margin: 4% 2% 8% 2%;
    }
    .nitroHideTableSec{
        display: flex;
        justify-content: space-between;
    }
    .nitroHideTableBtn{
        width: 50%;
        padding: 1%;
        margin: 2%;
        font-size: 1.5vw;
        border-radius: 50px;
        border: none;
        background-color: rgb(70, 70, 207);
        color: white;
    }
    .nitroHideTablePara i{
        display: flex;
        flex-direction: column;
        font-size: 3.5vw;
        font-weight: 900;
    }
    .nitroHideTablespan{
        font-size: 1.6vw;
        font-weight: 900; 
    }
    .nitroQue::after{
        content: "+";
        position: absolute;
        right: 35px;
    }
    .perksShowBtn{
        width: 30%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .nitroQueAns{
        width: 90vw;
        margin-left: 3vw;
    }
    .nitroBottom{
margin-top: 5%;
    }
    .nitroBottomBtn{
        font-size: large;
        width: 25vw;
        padding: 3%;
    }
    .nitroBottomHeading{
        font-size: 2rem;
        width: 100%;
    }
    .nitroHeadSection{
        display: flex;
        flex-direction: column;
        /* padding: 5%;
        margin-left: 5% ; */
    }
    .nitroHeadSecond{
        width: 80vw;
        height: 65vh;
    }
    .nitroHeadSecondBtn{
        width: 80%;
        margin-left: 10%;
        padding: 2%;
    }
    #nitro-questionare-heading{
        font-size: 2rem;
    }
    .nitroHeadSec, .nitroHead{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .nitroHeadSecFirst{
        width: 90%;
        font-size: 3rem;
        align-items: center;
        text-align: center;
        margin-bottom: 6%;
    }
    .nitroHeadSecSecond{
        width: 80%;
        font-size: 1.3rem;
        align-items: center;
        text-align: center;
        margin-bottom: 4%;
    }
    .nitroTableHeading{
        font-size: 2rem;
        width: 70%;
        text-align: center;
        margin: 5% 13%;
    }
    .nitroMainImg{
        display: block;
        width: 50vw;
        height: 60vh;
    }
    .nitroVideoSec{
        display: none;
    }
    .nitroHead{
        background-image: linear-gradient( rgb(96, 116, 234),rgb(113, 117, 233), rgb(205, 119, 234));
        width: 100vw;
    }
}

@media screen and (max-width: 990px){
    .perksShowBtn{
        width: 60%;
        margin-top: 5%;
        margin-bottom: 10%;
    }
    .perksShowImg{
        width: 60vw;
        height: 50vh;
    }
    .nitroPerksShowSec{
        box-sizing: border-box;
    }
    .nitroPerksShowPara{
        margin: 1%;
    }
    .nitroHideTableBtn{
        font-size: medium;
        padding: 2%;
    }
    .nitroHideTablePara i{
        font-size: 2rem;
    }
    .nitroHideTablePara i span {
        font-size: 1rem;
    }
    .nitroTabledark, .nitroTableLight{
        font-size: 1.3rem;
    }
    .nitroTabletd{
        font-size: 1rem;
    }
    .nitroTabledarkWord{
        font-size: 0.8rem;
    }
    .nitroQuestionareList{
        width: 70%;
    }
    .nitroQuestionareList li{
        margin: 3%;
    }
    .nitroQuestionareHeading{
        font-size: 1.5rem;
    }
    .nitroBottomBtn{
        width: 60%;
    }
    .nav-flex{
        background-color: rgb(95, 115, 234);
    }
}


